@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scrollbar-width: none; /*for Firefox */
}
::-webkit-scrollbar {
  width: 0;
}
.calDiv {
  width: 23rem;
  padding: 0.6rem;
  max-height: 100%;
  box-shadow: 0rem 0rem 0.25rem 0.0625rem grey;
}
.calDiv__btn {
  background-color: white;
  height: 2.5rem;
  color: black;
  width: 4.3rem;
  margin: 0rem 0.1rem;
  white-space: nowrap;
  border-radius: 0;
}
:where(.calDiv__btn:hover, .calDiv__dropdownBtn--shadow):hover {
  background-color: rgba(131, 131, 131, 0.35);
  transition: 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0rem 0.31rem 0.5rem;
  border-radius: 0;
}
.calDiv__dropdownBtn--size {
  width: 3.9rem;
  height: 2.6rem;
  margin: 0.15rem 0.15rem;
}
.calDiv__btn--blue {
  background-color: #6690ce !important;
}
.calDiv__btn--blue:hover {
  background-color: #4b6da0;
  box-shadow: #6690ce 0rem 0.31rem 0.94rem;
}
.calDiv__removeImg--size {
  width: 1.5rem;
}
.calDiv__removeImg--size {
  width: 1.5rem;
}
.calDiv__trigonoImg--size {
  transform: rotate(270deg);
  width: 1.1rem;
}
.calDiv__arrowDownImg--size {
  width: 0.7rem;
}
.calDiv__inputField {
  height: 7rem;
  font-size: 2.4rem;
  margin-top: 1rem;
  text-align: right;
  overflow-y: scroll;
  border: none;
  resize: none;
  background-color: #f8f9fa !important;
}
.calDiv__fnImg--size {
  width: 1.2rem;
}
.calDiv_drawer {
  position: absolute;
  height: 26rem;
  text-align: right;
  z-index: 1;
  background-color: #f8f9fa;
  border: 0.01rem solid rgba(131, 131, 131, 0.35);
  border-radius: 0.5rem 1rem 0rem 0rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0.1rem 0.03rem 0.31rem;
  display: none;
}
.calDiv__closeBtn--color {
  background-color: #f8f9fa;
}
.calDiv__closeImg--size {
  width: 1.2rem;
}
.calDiv__deleteBtnDiv {
  position: absolute;
  top: calc(100% - 3.2rem);
  right: 0.2rem;
}
.calDiv__deleteBtn--color {
  padding: 0.2rem;
  background-color: #f8f9fa;
}
.calDiv__deleteImg--size {
  width: 1.3rem;
  height: 1.3rem;
}
.calDiv__numsDiv {
  margin-top: 0.5rem;
  max-height: 72%;
  overflow: hidden;
  overflow-y: scroll;
}
.calDiv__ErrMsgDiv {
  text-align: justify;
}

/* responsive media queries */
@media only screen and (max-width: 415px), (max-height: 600px) {
  * {
    font-size: 14px;
  }
}
